<div class="main-container">
  <header class="header header-6">
      <div class="branding">
          <a href="..." class="nav-link">
              <clr-icon shape="vm-bug"></clr-icon>
              <span class="title">Dashboard</span>
          </a>
      </div>
  </header>
  <div class="content-container">
      <div class="content-area">
          <form  [formGroup]="exampleForm" class="clr-form clr-form-compact">
              <div class="clr-form-control clr-row">
                  <div class="clr-control-container clr-col-12 clr-col-md-10">
                      <div class="clr-input-wrapper">
                          <input formControlName="sample" type="text" id="example" placeholder="Example Input" class="clr-input">
                          <clr-icon class="clr-validate-icon" shape="exclamation-circle"></clr-icon>
                      </div>
                      <button class="btn btn-primary" type="submit" (click)="submit()">Submit</button>
                      <button class="btn" type="button" (click)="resetForm()">Reset</button>
                  </div>
              </div>
          </form>
          <clr-datagrid *ngIf="items && items.length > 0">
              <clr-dg-column *ngFor="let colName of items[0] | keyvalue">{{colName.key}}</clr-dg-column>
              <clr-dg-row *ngFor="let item of items">
                  <clr-dg-cell *ngFor="let i of item | keyvalue">{{i.value}}</clr-dg-cell>
              </clr-dg-row>
          
              <clr-dg-footer>{{items.length}} rows</clr-dg-footer>
          </clr-datagrid>
      </div>
  </div>
</div>